body {
    background-color: lightblue;
}
@media only screen and (max-width: 800px) {
    body {
      background-color: black;
    }
    body h1, h2, p {
        color: white;
    }
}
.otsikko {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 5px #82C6DA;
    color: lightgreen;
}

.otsikko h1 {
    font-size: 40px;
    text-shadow: 1px 1px darkgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.otsikko h2 {
    font-size: 30px;
    text-shadow: 1px 1px darkgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.otsikko p {
    font-size: 20px;
    text-shadow: 1px 1px darkgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#kuvateksti {
        padding: 25px;
        background: url(meme2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
}

p {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav {
    font-size: 20px;
    text-align: center;
}
a {
    color: black;
}

a:hover {
    color: red;
    transition-duration: 0.5s;    
}