body {
	background-color: #FAE0E1;
	
}
{
	figure-color: #E06E9D;
}
	p {
	color: #FA97B5;
	}
ol {
	color: #FA97B5;
}
ul {
	color: #FA97B5;
}

.reunus {
	border-width: 3px;
	border-style: dotted;
	color: #FA97B5;
	height: 200px;
	width: 200px;
	text-align: center;
}
h1 {
	font-size: 25px;
	color: #E06E9D;
	}
{
	border-width: 20px;
	border-style: solid;
	color: pink;
	border-radius: 5px;
}