body {
	background-color: #FAE0E1;	
}

.kuva1 
{

  margin-left: center;
  margin-right: center;
  }

{
	figure-color: #E06E9D;
}
	p {
	color: #FA97B5;
	}
ol {
	color: #FA97B5;
}
ul {
	color: #FA97B5;
}

.reunus {
	border-width: 3px;
	border-style: dotted;
	color: #FA97B5;
	height: 100px;
	width: 200px;
	padding: 70px 0;
	text-align: center;

}
.valkoinen {
	color: white;
}
.pink {
	color: pink;
}
.määrä {
	color: pink;
}
h1 {
	font-size: 25px;
	color: #E06E9D;
	}

	