.table {
  background: #C0DFDA;
  border-radius: 30px;
  margin: 30px;
  width: 500px;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

th {
  text-align: center;
  color: #418C80;
  border: 2px;
  border-color:black;
}

td {
  text-align: center;  
  border: 2px;
  border-color:black;
  border-radius:0;
}

form {
  width: 500px;
  margin: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


