body {
	background-color: #E5E3DE;	
}
h1 {
	font-size: 30px;
	color: #665C44;
	}
h2 {
	font-size: 20px;
	color: #665C44;
}
	p {
	color: #665C44;
	}
ul {
	color: #665C44;
	list-style-type: circle;
	margin-left: 50px;
}

.reunus {
	border-width: 4px;
	border-style: dashed;
	border-radius: 50px;
	color: #B3B1AD;
	height: 80px;
	width: 300px;
	margin-left: 50px;
	text-align: center;
}
.reunus2 {
	border-width: 4px;
	border-style: dotted;
	color: #B3B1AD;
	height: 80px;
	width: 300px;
	margin-left: 50px;
	text-align: center;

}
.reunus3 {
	border-width: 4px;
	border-style: dotted;
	color: #B3B1AD;
	height: 80px;
	width: 300px;
	margin-left: 50px;
	text-align: center;

}
.etusivukuvateksti{
	padding-left: 150px;
}

.kuvateksti1{ 
	padding-left:115px;
	}
.kuvateksti2{
	padding-left:85px;
}

.leipäteksti{
	border-radius: 10px;
	background-color: #F9F7ED;
	margin: 5px;
	width: 500px;
	text-align: center;

}
.kuva2 {
	margin-left:50px;
}
.kuva3 {
	margin-left:50px;
}