body {
	background-color: #FAE0E1;
	
}
	p {
	color: #FA97B5;
	}
ol {
	color: #FA97B5;
}
ul {
	color: #FA97B5;
}

.reunus {
	border-width: 3px;
	border-style: dotted;
	color: #FA97B5;
	height: 150px;
	width: 150px;
	text-align: center;
}
h1 {
	font-size: 25px;
	color: #E06E9D;
	padding: 15px;
	}