body {
	background: black ;
}
h1 {
	color: white;
	text-align: center;
	}
p {
	color: green;
	}
h2 {
	color: yellow;
	font-size: 12px;
}
ol {
	color: white;
}
ul {
	color: white;
}
.reunus {
	border-width: 2px;
	border-style: dotted;
	color: green;
	height: 100px;
	width: 100px;
}

h1 {
  font-size: 20px;
}
p {
	font-size: 12px;
	padding: 10px;
}
ol {
	font-size: 10px;
	list-style: lower-alpha;
	padding: 10px;
	margin: 10px;
}

ul {
  font-size: 10px;
  list-style: square;
  padding: 10px;
  margin: 10px;
}